@{
    ViewData["Title"] = "Home Page";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="/css/site.css" class="">


<div class="text-center">
    <h1 class="display-4">FAILS</h1>
    
</div>

<section class="grid" id="grid">
            <div class="item" 
            data-categoria="shooter" 
            data-etiquetas="fornite pc">
                <div class="item-contenido">
                    <img src="/img/carusel1.png" alt="" class="">
                   
                </div>
            </div>
            <div class="item" 
            data-categoria="deportes" 
            data-etiquetas=" ">
                <div class="item-contenido">
                    <img src="img/carusel2.png" alt="">
                   
                </div>
            </div>
            <div class="item" 
            data-categoria="shooter" 
            data-etiquetas="">
                <div class="item-contenido">
                    <img src="/img/carusel3.png" alt="">
                    
                </div>
            </div>
            <div class="item" 
            data-categoria="aventuras" 
            data-etiquetas="">
                <div class="item-contenido">
                    <img src="/img/carusel1.png" alt="">
                    
                </div>
            </div>
            <div class="item" 
            data-categoria="aventuras" 
            data-etiquetas="">
                <div class="item-contenido">
                    <img src="/img/carusel2.png" alt="">
                    
                </div>
            </div>
            <div class="item" 
            data-categoria="shooter" 
            data-etiquetas="">
                <div class="item-contenido">
                    <img src="/img/carusel3.png" alt="">
                   
                </div>
            </div>
            <div class="item" 
            data-categoria="epico" 
            data-etiquetas="">
                <div class="item-contenido">
                    <img src="/img/carusel1.png" alt="">
                   
                </div>
            </div>
            <div class="item" 
            data-categoria="epico" 
            data-etiquetas="">
                <div class="item-contenido">
                    <img src="/img/carusel2.png" alt="">
                    
                </div>
            </div>
            <div class="item" 
            data-categoria="deportes" 
            data-etiquetas="">
                <div class="item-contenido">
                    <img src="/img/carusel3.png" alt="">
                   
                </div>
            </div>
        </section>


