@model SubirFails

<h1>Subir Fail</h1>

<form action="" method="POST">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control">
         

    </div>

    <button type="text" class=" btn btn-primary">Cargar Archivo</button>

    <button class="btn btn-primary">Guardar</button>


</form>